<%= render "users/form"%>

<div class="row">
  <div class="col-md-4 col-md-offset-4">

<% if flash[:error] %>
    <p><%= flash[:error]%></p>
<%end%>

<%= simple_form_for(:session, :url => login_path) do |f|%>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control'  %>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control'  %>
        <%= f.label :Submit %>
        <%= f.submit "Submit", class: "btn btn-primary"%>
        <%end%>

  </div>
</div>